body {
	margin: 10px;
	padding: 10px;
	text-align: center;
}

div {
	padding: 5px;
}

#title-operation, #title-input {
	text-align: left;
}

#operation {
	color: gray;
}

button {
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: green;
}